* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: #2E2E2E;
}
body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a{
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@font-face {
  font-family: 'PoppinsBlack';
  font-weight: 900;
  src: url('./fonts/Poppins-Black.ttf');
}
@font-face {
  font-family: 'PoppinsBold';
  font-weight: 700;
  src: url('./fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'PoppinsSemiBold';
  font-weight: 600;
  src: url('./fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'PoppinsMedium';
  font-weight: 500;
  src: url('./fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/Poppins-Regular.ttf');
}